fonttools[ufo,woff,lxml] --install-option="--with-zopfli"
fontmake
Pillow==5.4.1
idna==2.8
requests==2.21.0
urllib3==1.24.1
fs
fontbakery>=0.7.0
protobuf>=3.7.0
git+https://github.com/googlefonts/gftools
