<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1616</integer>
    <key>capHeight</key>
    <integer>1480</integer>
    <key>copyright</key>
    <string>Copyright 2018 The Encode Project Authors (https://github.com/thundernixon/Encode-Sans), with Reserved Font Name 'Encode Sans'.</string>
    <key>descender</key>
    <integer>-440</integer>
    <key>familyName</key>
    <string>Encode Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>name</key>
        <string> [locked]</string>
        <key>y</key>
        <integer>1200</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1220</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>-104</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1586</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1858</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>2064</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1828</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1014</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>1000</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>270</integer>
        <key>x</key>
        <integer>600</integer>
        <key>y</key>
        <integer>-267</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/12/04 23:15:01</string>
    <key>openTypeHheaAscender</key>
    <integer>2060</integer>
    <key>openTypeHheaDescender</key>
    <integer>-440</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Multiple Designers</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Impallari Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2060</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-440</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2758</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>520</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-40</integer>
      <integer>0</integer>
      <integer>1100</integer>
      <integer>1140</integer>
      <integer>1190</integer>
      <integer>1230</integer>
      <integer>1480</integer>
      <integer>1520</integer>
      <integer>1616</integer>
      <integer>1656</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-480</integer>
      <integer>-440</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>347</integer>
      <integer>317</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>435</integer>
      <integer>426</integer>
      <integer>445</integer>
      <integer>427</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Encode Sans</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Encode Sans is a trademark of Pablo Impallari.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1100</integer>
  </dict>
</plist>
