<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1616</integer>
    <key>capHeight</key>
    <integer>1480</integer>
    <key>copyright</key>
    <string>Copyright 2012 The Encode Project Authors (impallari@gmail.com), with Reserved Font Name "Encode Sans".</string>
    <key>descender</key>
    <integer>-440</integer>
    <key>familyName</key>
    <string>Encode Sans SemiCondensed</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/12/23 10:14:22</string>
    <key>openTypeHheaAscender</key>
    <integer>2060</integer>
    <key>openTypeHheaDescender</key>
    <integer>-440</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Multiple Designers</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Impallari Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2060</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-440</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IMPA</string>
    <key>openTypeOS2WeightClass</key>
    <integer>407</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>9</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2758</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>520</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-40</integer>
      <integer>0</integer>
      <real>1085.2525252525252</real>
      <real>1125.2525252525252</real>
      <integer>1190</integer>
      <integer>1230</integer>
      <integer>1480</integer>
      <integer>1520</integer>
      <integer>1616</integer>
      <integer>1656</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-480</integer>
      <integer>-440</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>136.6464646464646</real>
      <real>127.45454545454541</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>158.60606060606054</real>
      <real>156.63636363636357</real>
      <real>164.44444444444437</real>
      <real>160.76767676767668</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Encode Sans SemiCondensed</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Encode Sans is a trademark of Pablo Impallari.</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>1085.2525252525252</real>
  </dict>
</plist>
