<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1616.0</real>
    <key>capHeight</key>
    <real>1480.0</real>
    <key>copyright</key>
    <string>Copyright 2012 The Encode Project Authors (impallari@gmail.com), with Reserved Font Name "Encode Sans".</string>
    <key>descender</key>
    <real>-440.0</real>
    <key>familyName</key>
    <string>Encode Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <real>180.0</real>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <real>602.0</real>
        <key>y</key>
        <real>1200.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>180.0</real>
        <key>x</key>
        <real>272.0</real>
        <key>y</key>
        <real>1012.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>590.0</real>
        <key>y</key>
        <real>1264.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>230.0</real>
        <key>y</key>
        <real>1616.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <real>524.0</real>
        <key>y</key>
        <real>-88.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <real>524.0</real>
        <key>y</key>
        <real>-440.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>382.0</real>
        <key>y</key>
        <real>1888.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>382.0</real>
        <key>y</key>
        <real>1792.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>382.0</real>
        <key>y</key>
        <real>2064.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>180.0</real>
        <key>x</key>
        <real>272.0</real>
        <key>y</key>
        <real>1000.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2016/12/23 10:14:22</string>
    <key>openTypeHheaAscender</key>
    <integer>2060</integer>
    <key>openTypeHheaDescender</key>
    <integer>-440</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Multiple Designers</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Impallari Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>2060</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-440</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IMPA</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2758</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>520</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-40.0</real>
      <real>0.0</real>
      <real>1080.0</real>
      <real>1120.0</real>
      <real>1190.0</real>
      <real>1230.0</real>
      <real>1480.0</real>
      <real>1520.0</real>
      <real>1616.0</real>
      <real>1656.0</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-480.0</real>
      <real>-440.0</real>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>66</integer>
      <integer>66</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>68</integer>
      <integer>68</integer>
      <integer>72</integer>
      <integer>72</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Encode Sans Condensed Light</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Condensed Light</string>
    <key>trademark</key>
    <string>Encode Sans is a trademark of Pablo Impallari.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>1080.0</real>
  </dict>
</plist>
