<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Old 34.0_Thin</string>
      <string>glyphs.O_ld 34.0_T_hin</string>
    </array>
    <array>
      <string>Old 34.0_Thin.background</string>
      <string>glyphs.O_ld 34.0_T_hin.background</string>
    </array>
    <array>
      <string>New 34.0_Thin</string>
      <string>glyphs.N_ew 34.0_T_hin</string>
    </array>
    <array>
      <string>New 34.0_Thin.background</string>
      <string>glyphs.N_ew 34.0_T_hin.background</string>
    </array>
    <array>
      <string>Old 44.0_ExtraLight</string>
      <string>glyphs.O_ld 44.0_E_xtraL_ight</string>
    </array>
    <array>
      <string>Old 44.0_ExtraLight.background</string>
      <string>glyphs.O_ld 44.0_E_xtraL_ight.background</string>
    </array>
    <array>
      <string>New 46.0_ExtraLight</string>
      <string>glyphs.N_ew 46.0_E_xtraL_ight</string>
    </array>
    <array>
      <string>New 46.0_ExtraLight.background</string>
      <string>glyphs.N_ew 46.0_E_xtraL_ight.background</string>
    </array>
    <array>
      <string>Old 58.0_Light</string>
      <string>glyphs.O_ld 58.0_L_ight</string>
    </array>
    <array>
      <string>Old 58.0_Light.background</string>
      <string>glyphs.O_ld 58.0_L_ight.background</string>
    </array>
    <array>
      <string>New 64.0_Light</string>
      <string>glyphs.N_ew 64.0_L_ight</string>
    </array>
    <array>
      <string>New 64.0_Light.background</string>
      <string>glyphs.N_ew 64.0_L_ight.background</string>
    </array>
    <array>
      <string>Old 76.0_Regular</string>
      <string>glyphs.O_ld 76.0_R_egular</string>
    </array>
    <array>
      <string>Old 76.0_Regular.background</string>
      <string>glyphs.O_ld 76.0_R_egular.background</string>
    </array>
    <array>
      <string>New 86.0_Regular</string>
      <string>glyphs.N_ew 86.0_R_egular</string>
    </array>
    <array>
      <string>New 86.0_Regular.background</string>
      <string>glyphs.N_ew 86.0_R_egular.background</string>
    </array>
    <array>
      <string>Old 97.0_Medium</string>
      <string>glyphs.O_ld 97.0_M_edium</string>
    </array>
    <array>
      <string>Old 97.0_Medium.background</string>
      <string>glyphs.O_ld 97.0_M_edium.background</string>
    </array>
    <array>
      <string>New 112.0_Medium</string>
      <string>glyphs.N_ew 112.0_M_edium</string>
    </array>
    <array>
      <string>New 112.0_Medium.background</string>
      <string>glyphs.N_ew 112.0_M_edium.background</string>
    </array>
    <array>
      <string>Old 121.0_SemiBold</string>
      <string>glyphs.O_ld 121.0_S_emiB_old</string>
    </array>
    <array>
      <string>Old 121.0_SemiBold.background</string>
      <string>glyphs.O_ld 121.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>New 142.0_SemiBold</string>
      <string>glyphs.N_ew 142.0_S_emiB_old</string>
    </array>
    <array>
      <string>New 142.0_SemiBold.background</string>
      <string>glyphs.N_ew 142.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>Old 146.0_Bold</string>
      <string>glyphs.O_ld 146.0_B_old</string>
    </array>
    <array>
      <string>Old 146.0_Bold.background</string>
      <string>glyphs.O_ld 146.0_B_old.background</string>
    </array>
    <array>
      <string>New 173.0_Bold</string>
      <string>glyphs.N_ew 173.0_B_old</string>
    </array>
    <array>
      <string>New 173.0_Bold.background</string>
      <string>glyphs.N_ew 173.0_B_old.background</string>
    </array>
    <array>
      <string>Old 171.0_ExtraBold</string>
      <string>glyphs.O_ld 171.0_E_xtraB_old</string>
    </array>
    <array>
      <string>Old 171.0_ExtraBold.background</string>
      <string>glyphs.O_ld 171.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>New 205.0_ExtraBold</string>
      <string>glyphs.N_ew 205.0_E_xtraB_old</string>
    </array>
    <array>
      <string>New 205.0_ExtraBold.background</string>
      <string>glyphs.N_ew 205.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>Old 193.0_Black</string>
      <string>glyphs.O_ld 193.0_B_lack</string>
    </array>
    <array>
      <string>Old 193.0_Black.background</string>
      <string>glyphs.O_ld 193.0_B_lack.background</string>
    </array>
    <array>
      <string>New 232.0_Black</string>
      <string>glyphs.N_ew 232.0_B_lack</string>
    </array>
    <array>
      <string>New 232.0_Black.background</string>
      <string>glyphs.N_ew 232.0_B_lack.background</string>
    </array>
    <array>
      <string>Old 59.0_Light</string>
      <string>glyphs.O_ld 59.0_L_ight</string>
    </array>
    <array>
      <string>Old 59.0_Light.background</string>
      <string>glyphs.O_ld 59.0_L_ight.background</string>
    </array>
    <array>
      <string>New 63.0_Light</string>
      <string>glyphs.N_ew 63.0_L_ight</string>
    </array>
    <array>
      <string>New 63.0_Light.background</string>
      <string>glyphs.N_ew 63.0_L_ight.background</string>
    </array>
    <array>
      <string>Old 78.0_Regular</string>
      <string>glyphs.O_ld 78.0_R_egular</string>
    </array>
    <array>
      <string>Old 78.0_Regular.background</string>
      <string>glyphs.O_ld 78.0_R_egular.background</string>
    </array>
    <array>
      <string>Old 101.0_Medium</string>
      <string>glyphs.O_ld 101.0_M_edium</string>
    </array>
    <array>
      <string>Old 101.0_Medium.background</string>
      <string>glyphs.O_ld 101.0_M_edium.background</string>
    </array>
    <array>
      <string>Old 126.0_SemiBold</string>
      <string>glyphs.O_ld 126.0_S_emiB_old</string>
    </array>
    <array>
      <string>Old 126.0_SemiBold.background</string>
      <string>glyphs.O_ld 126.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>Old 153.0_Bold</string>
      <string>glyphs.O_ld 153.0_B_old</string>
    </array>
    <array>
      <string>Old 153.0_Bold.background</string>
      <string>glyphs.O_ld 153.0_B_old.background</string>
    </array>
    <array>
      <string>Old 180.0_ExtraBold</string>
      <string>glyphs.O_ld 180.0_E_xtraB_old</string>
    </array>
    <array>
      <string>Old 180.0_ExtraBold.background</string>
      <string>glyphs.O_ld 180.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>Old 203.0_Black</string>
      <string>glyphs.O_ld 203.0_B_lack</string>
    </array>
    <array>
      <string>Old 203.0_Black.background</string>
      <string>glyphs.O_ld 203.0_B_lack.background</string>
    </array>
    <array>
      <string>New 45.0_ExtraLight</string>
      <string>glyphs.N_ew 45.0_E_xtraL_ight</string>
    </array>
    <array>
      <string>New 45.0_ExtraLight.background</string>
      <string>glyphs.N_ew 45.0_E_xtraL_ight.background</string>
    </array>
    <array>
      <string>Old 60.0_Light</string>
      <string>glyphs.O_ld 60.0_L_ight</string>
    </array>
    <array>
      <string>Old 60.0_Light.background</string>
      <string>glyphs.O_ld 60.0_L_ight.background</string>
    </array>
    <array>
      <string>Old 80.0_Regular</string>
      <string>glyphs.O_ld 80.0_R_egular</string>
    </array>
    <array>
      <string>Old 80.0_Regular.background</string>
      <string>glyphs.O_ld 80.0_R_egular.background</string>
    </array>
    <array>
      <string>New 85.0_Regular</string>
      <string>glyphs.N_ew 85.0_R_egular</string>
    </array>
    <array>
      <string>New 85.0_Regular.background</string>
      <string>glyphs.N_ew 85.0_R_egular.background</string>
    </array>
    <array>
      <string>Old 104.0_Medium</string>
      <string>glyphs.O_ld 104.0_M_edium</string>
    </array>
    <array>
      <string>Old 104.0_Medium.background</string>
      <string>glyphs.O_ld 104.0_M_edium.background</string>
    </array>
    <array>
      <string>New 111.0_Medium</string>
      <string>glyphs.N_ew 111.0_M_edium</string>
    </array>
    <array>
      <string>New 111.0_Medium.background</string>
      <string>glyphs.N_ew 111.0_M_edium.background</string>
    </array>
    <array>
      <string>Old 131.0_SemiBold</string>
      <string>glyphs.O_ld 131.0_S_emiB_old</string>
    </array>
    <array>
      <string>Old 131.0_SemiBold.background</string>
      <string>glyphs.O_ld 131.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>New 141.0_SemiBold</string>
      <string>glyphs.N_ew 141.0_S_emiB_old</string>
    </array>
    <array>
      <string>New 141.0_SemiBold.background</string>
      <string>glyphs.N_ew 141.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>Old 160.0_Bold</string>
      <string>glyphs.O_ld 160.0_B_old</string>
    </array>
    <array>
      <string>Old 160.0_Bold.background</string>
      <string>glyphs.O_ld 160.0_B_old.background</string>
    </array>
    <array>
      <string>Old 188.0_ExtraBold</string>
      <string>glyphs.O_ld 188.0_E_xtraB_old</string>
    </array>
    <array>
      <string>Old 188.0_ExtraBold.background</string>
      <string>glyphs.O_ld 188.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>New 204.0_ExtraBold</string>
      <string>glyphs.N_ew 204.0_E_xtraB_old</string>
    </array>
    <array>
      <string>New 204.0_ExtraBold.background</string>
      <string>glyphs.N_ew 204.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>Old 213.0_Black</string>
      <string>glyphs.O_ld 213.0_B_lack</string>
    </array>
    <array>
      <string>Old 213.0_Black.background</string>
      <string>glyphs.O_ld 213.0_B_lack.background</string>
    </array>
    <array>
      <string>Old 45.0_ExtraLight</string>
      <string>glyphs.O_ld 45.0_E_xtraL_ight</string>
    </array>
    <array>
      <string>Old 45.0_ExtraLight.background</string>
      <string>glyphs.O_ld 45.0_E_xtraL_ight.background</string>
    </array>
    <array>
      <string>Old 61.0_Light</string>
      <string>glyphs.O_ld 61.0_L_ight</string>
    </array>
    <array>
      <string>Old 61.0_Light.background</string>
      <string>glyphs.O_ld 61.0_L_ight.background</string>
    </array>
    <array>
      <string>New 62.0_Light</string>
      <string>glyphs.N_ew 62.0_L_ight</string>
    </array>
    <array>
      <string>New 62.0_Light.background</string>
      <string>glyphs.N_ew 62.0_L_ight.background</string>
    </array>
    <array>
      <string>Old 82.0_Regular</string>
      <string>glyphs.O_ld 82.0_R_egular</string>
    </array>
    <array>
      <string>Old 82.0_Regular.background</string>
      <string>glyphs.O_ld 82.0_R_egular.background</string>
    </array>
    <array>
      <string>Old 108.0_Medium</string>
      <string>glyphs.O_ld 108.0_M_edium</string>
    </array>
    <array>
      <string>Old 108.0_Medium.background</string>
      <string>glyphs.O_ld 108.0_M_edium.background</string>
    </array>
    <array>
      <string>Old 136.0_SemiBold</string>
      <string>glyphs.O_ld 136.0_S_emiB_old</string>
    </array>
    <array>
      <string>Old 136.0_SemiBold.background</string>
      <string>glyphs.O_ld 136.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>Old 167.0_Bold</string>
      <string>glyphs.O_ld 167.0_B_old</string>
    </array>
    <array>
      <string>Old 167.0_Bold.background</string>
      <string>glyphs.O_ld 167.0_B_old.background</string>
    </array>
    <array>
      <string>New 174.0_Bold</string>
      <string>glyphs.N_ew 174.0_B_old</string>
    </array>
    <array>
      <string>New 174.0_Bold.background</string>
      <string>glyphs.N_ew 174.0_B_old.background</string>
    </array>
    <array>
      <string>Old 196.0_ExtraBold</string>
      <string>glyphs.O_ld 196.0_E_xtraB_old</string>
    </array>
    <array>
      <string>Old 196.0_ExtraBold.background</string>
      <string>glyphs.O_ld 196.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>Old 222.0_Black</string>
      <string>glyphs.O_ld 222.0_B_lack</string>
    </array>
    <array>
      <string>Old 222.0_Black.background</string>
      <string>glyphs.O_ld 222.0_B_lack.background</string>
    </array>
    <array>
      <string>Old 62.0_Light</string>
      <string>glyphs.O_ld 62.0_L_ight</string>
    </array>
    <array>
      <string>Old 62.0_Light.background</string>
      <string>glyphs.O_ld 62.0_L_ight.background</string>
    </array>
    <array>
      <string>Old 84.0_Regular</string>
      <string>glyphs.O_ld 84.0_R_egular</string>
    </array>
    <array>
      <string>Old 84.0_Regular.background</string>
      <string>glyphs.O_ld 84.0_R_egular.background</string>
    </array>
    <array>
      <string>New 84.0_Regular</string>
      <string>glyphs.N_ew 84.0_R_egular</string>
    </array>
    <array>
      <string>New 84.0_Regular.background</string>
      <string>glyphs.N_ew 84.0_R_egular.background</string>
    </array>
    <array>
      <string>Old 111.0_Medium</string>
      <string>glyphs.O_ld 111.0_M_edium</string>
    </array>
    <array>
      <string>Old 111.0_Medium.background</string>
      <string>glyphs.O_ld 111.0_M_edium.background</string>
    </array>
    <array>
      <string>Old 141.0_SemiBold</string>
      <string>glyphs.O_ld 141.0_S_emiB_old</string>
    </array>
    <array>
      <string>Old 141.0_SemiBold.background</string>
      <string>glyphs.O_ld 141.0_S_emiB_old.background</string>
    </array>
    <array>
      <string>Old 173.0_Bold</string>
      <string>glyphs.O_ld 173.0_B_old</string>
    </array>
    <array>
      <string>Old 173.0_Bold.background</string>
      <string>glyphs.O_ld 173.0_B_old.background</string>
    </array>
    <array>
      <string>Old 204.0_ExtraBold</string>
      <string>glyphs.O_ld 204.0_E_xtraB_old</string>
    </array>
    <array>
      <string>Old 204.0_ExtraBold.background</string>
      <string>glyphs.O_ld 204.0_E_xtraB_old.background</string>
    </array>
    <array>
      <string>Old 232.0_Black</string>
      <string>glyphs.O_ld 232.0_B_lack</string>
    </array>
    <array>
      <string>Old 232.0_Black.background</string>
      <string>glyphs.O_ld 232.0_B_lack.background</string>
    </array>
  </array>
</plist>
